
<h1>Bonjour </h1><br><br>Une demande de
réinitialisation de mot de passe a été effectuée pour le site simlait.pdeps.sn
<br><br>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :  <a href="{{url}}"> {{ url }} </a></p>